aiofiles
aiohttp
aria2p
async_generator
beautifulsoup4
bs4
cffi
coffeehouse
covid
cowpy
cryptg
deezloader
dnspython
emoji
git+https://github.com/johnwmillr/LyricsGenius.git
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
hachoir
# heroku
heroku3
httplib2
humanize
lxml
oauth2client
pendulum
Pillow
pip
psutil
psycopg2
psycopg2-binary
pybase64
pyfiglet
PyGithub
pylast
pySmartDL
python-barcode
python-dateutil
python-dotenv
pytz
qrcode
redis
regex
requests
search-engine-parser
spcli
speedtest-cli
sqlalchemy
telegraph
telethon
telethon-session-sqlalchemy
TgCrypto
twitter_scraper
urbandict
validators
wikipedia
youtube-dl
youtube_search
