aiofiles
aiohttp
aria2p
async_generator
base
beautifulsoup4
bs4
cffi
covid
cowpy
cryptg
deezloader
dnspython
emoji
git+https://github.com/johnwmillr/LyricsGenius.git
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
google_images_download
gTTS
gTTS-token
hachoir
# heroku
heroku3
httplib2
humanize
lxml
oauth2client
pendulum == 2.0.5
Pillow
pip
psutil
psycopg2
psycopg2-binary
pybase64
pyfiglet
PyGithub
pylast
pySmartDL
python-barcode
python-dateutil
python-dotenv
pytz
qrcode
redis
regex
requests
setuptools
search-engine-parser
spcli
speedtest-cli
sqlalchemy
telegraph
telethon
telethon-session-sqlalchemy
TgCrypto
urbandict
validators
wikipedia
wget
youtube-dl
youtube_search
